# TODO:
#  - Docker rootless
#  - Debian

- name: "(Alpine) Install packages"
  community.general.apk:
    update_cache: false
    name:
      - docker
      - docker-cli-compose
    state: present
  when: ansible_distribution == "Alpine"

- name: (Alpine) Enable and start docker
  ansible.builtin.service:
    name: docker
    enabled: true
    state: started
  when: ansible_distribution == "Alpine"

- name: "Create groups"
  ansible.builtin.group:
    name: docker
    state: present

- name: "Create users"
  ansible.builtin.user:
    user: willem
    append: true
    groups: docker

- name: "Create docker directory"
  ansible.builtin.file:
    path: /home/willem/docker
    state: directory
    mode: '0755'
    owner: willem
    group: willem

# - name: "Update docker containers"
#   community.docker.docker_compose_v2:
#     project_src: ./docker
#     pull: always
